body {
  margin: 0;
  background: #dfe3eb;
  color: #33475b;
  font-family: "Lucida Console", Monaco, monospace;
}

h1,
h2,
h3 {
  margin: 0;
}

header {
  background: #2d3e50;
  color: #eaf0f6;
  padding: 12px;
}

.apps {
  width: 750px;
  margin: 0 auto;
}

.apps > .app {
  border: 3px solid #5e6ab8;
  border-radius: 6px;
  margin: 12px 0;
  padding: 8px;
  background: #f0f1fa;
}

.apps > .app > h2 {
  color: #6a78d1;
  padding-bottom: 2px;
  border-bottom: 1px solid #516f90;
  margin-bottom: 12px;
}

.route {
  margin-top: 5px;
}

.route > .arrow {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #00a4bd;
}

.icon {
  border-radius: 20px;
  float: right;
  width: 1em;
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 8px;
  user-select: none;
}

.icon-text {
  font-size: 0.7em;
  color: #2d3e50;
  align-self: baseline;
}

.noRoutes {
  text-align: center;
  width: 100%;
  display: block;
  padding: 24px;
  font-size: xx-large;
}

.modal-container {
  pointer-events: none;
}

.modal-cover,
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-cover {
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  pointer-events: auto;
  background: white;
  width: 750px;
  margin: 62px auto 0;
  border-radius: 10px;
  padding: 10px;
}

.modal > h3 {
  color: #6a78d1;
  padding-bottom: 2px;
  border-bottom: 1px solid #516f90;
  margin-bottom: 12px;
}

.ball-grid-pulse > div {
  background-color: #2d3e50 !important;
}

.apps > .loader {
  margin: 20px auto;
  width: 58px;
  height: 58px;
}

.form-input > label {
  display: block;
}
.form-input {
  margin: 12px 0;
}
