.tag {
  font-size: x-small;
}

.tag-container {
  display: inline-flex;
  margin: 0 4px;
  justify-content: center;
  align-items: center;
  height: 1em;
  border: 2px solid;
  color: #33475b;
  vertical-align: bottom;
  padding: 0 5px;
}

.tag-container:first-child {
  margin-left: 0;
}

.tag-fixed-width {
  width: 25px;
  padding: 0;
}

.color-oz {
  border-color: #00bda5;
  background: #e5f8f6;
}

.color-norman {
  border-color: #f2547d;
  background: #fdedf2;
}

.color-thunderdome {
  border-color: #6a78d1;
  background: #f0f1fa;
}

.color-marigold {
  border-color: #f5c26b;
  background: #fef8f0;
}

.color-sorbet {
  border-color: #ff8f59;
  background: #fff3ee;
}

.color-purple {
  border-color: #bda9ea;
  background: #f4f0ff;
}
